.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-layout-transparent {
  background: url('./assets/FC.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

/* lists */
.list-container {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 10px;
    padding: 0px 0px 0px 10px;
    box-shadow: 0px 3px 1px -2px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    min-width: 300px;
}

.list-title {
    font-size: 25px;
    margin: 10px;
    padding: 5px 0px 0px 0px;
}

.list-item {
    font-size: 20px;
    margin: 5px;
}

/* links */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: purple;
    background-color: transparent;
}

